*{
    margin: 0px;
    padding: 0px;
}

/*Importando fontes*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Roboto&display=swap');

/*font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;*/

.container-header{
    width: 100%;
    margin: 0px;
    padding: 20px 0px 20px 0px;
    background-color: #2D2D2D;
    display: flex;
}

.logo{
    width: 30%;
}

.fa, fa-filme{
    color: #FF0066;
    padding-right:20px;
    width: 32px;
    height: 36px;
}

#text-logo{
    color: #FF0066;
    text-decoration: none;
    font-size: 48px;
    font-family: 'Bebas Neue', cursive;
}

.menu{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-around;
    
}

menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.menu a{
    text-decoration: none;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
menu a:hover{
    color: #FF0066;
}

/*---Section---*/

.sobre{
    background-color: black;
    height: 600px;
}

.title{
    padding: 50px 0px 50px 0px;
    display: flex;
    justify-content: center;
}

.title h1{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
}

.box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 300px;
}

.person{
    background-color: #2D2D2D;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    height: 250px;
    width: 150px;
}

.person img{
    border: 3px solid #FFF;
    border-radius: 100px;
    width: 100px;
    height: 100px;
}

.person h2{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
}

.person h3{
    color: rgb(133, 133, 133);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}


/*-----Responsive section----*/

@media (max-width:600px){

    #text-logo{
        font-size: 20px;
    }
    .fa, fa-filme{        
        width: 35px;
        height: 15px;
    }

    .sobre{
        height: auto;
    }
    .box{
        flex-direction: column;
        height: auto;
    }
    .person{
        margin-bottom: 20px;
    }
}