*{
    margin: 0px;
    padding: 0px;
}

/*Importando fontes*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Roboto&display=swap');

/*font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;*/

.container-header{
    width: 100%;
    margin: 0px;
    padding: 20px 0px 20px 0px;
    background-color: #2D2D2D;
    display: flex;
}

.logo{
    width: 30%;
}

.fa, fa-filme{
    color: #FF0066;
    padding-right:20px;
    width: 32px;
    height: 36px;
}

#text-logo{
    color: #FF0066;
    text-decoration: none;
    font-size: 48px;
    font-family: 'Bebas Neue', cursive;
}

.menu{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-around;
    
}

menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.menu a{
    text-decoration: none;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
menu a:hover{
    color: #FF0066;
}

/*------------Banner section-------------*/

.banner-section{
    background-color: black;
    width: 100%;
}
.banner{
    height: 207px;
    padding-top: 50px;
    background: url("https://www.themoviedb.org/t/p/w533_and_h300_bestv2/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg");
    opacity: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    box-shadow: inset 100px -200px 1000px 10px rgb(53, 53, 53);
}   

.banner-text{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;
}

/*-------Movie/Series section--------*/

.movie-cards{
    background-color: black;
    height: 400px;
    padding: 20px;
}

.movie-cards h2{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
}

.movie-box{
    height: 350px;
    border: 6px solid transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.filme img{
    width: 140px;
    height: 225px;
    border: 1px solid transparent;
    border-radius: 10px;
}

.filme h3{
    display: flex;
    justify-content: center;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.star{
    display: flex;
    justify-content: center;
    color: #929292;
    font-family: 'Roboto', sans-serif;
}
.star i{
    padding-right: 0;
    margin: 0;
    color: #F5C518;
}

.filme button{
    background-color: #FF0066;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
}
.bt-detalhes{
    width: 100%;
    display: flex;
    justify-content: center;
}
.bt-detalhes button{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    padding: 10px 30px 10px 30px;
}

.bt-detalhes button:hover{
    background-color: blue;
    transition: 0.5s;
}


/*-----Responsive section----*/

@media (max-width:750px){

    #text-logo{
        font-size: 20px;
    }
    .fa, fa-filme{        
        width: 35px;
        height: 15px;
    }

    .banner{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner-text{
        text-align: center;
    }

    .movie-box{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .filme{
        margin-bottom: 50px;
    }
    .movie-cards{
        height: auto;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

}